@font-face {
    font-family: Menu;
    src: url(Resources/menubutt.ttf);
}


body {

               background-image: url("Resources/wallz/opgw.jpg");
               background-repeat: no-repeat;
               background-attachment: fixed;
               background-size: cover;
          }


h1 {     font-size: 80px;  
             font-weight: bold;
             font-variant:small-caps;
             text-align: center;
             color: white;
             text-shadow: 7px 7px 7px greenyellow;
             font-family: "viner hand itc";
     }


h3{
    color:white;
    font:25px "lucida calligraphy";
    font-variant:small-caps;
    font-weight:bold;
    color:white;
    text-shadow: 0px 0px 5px white,5px 5px 7px #5c5c3d,20px -5px 5px black;
    width:450px;
    margin-left: 20px;
    border:3px solid white;
}

p{
    color:white;
}

#subt {
    font: 50px "Freestyle Script";
    font-variant:small-caps;
    text-align: left;
    color: lightgrey;
    text-shadow: 7px 7px 7px white;
    position:relative;
    width:500px;
    left:50%;
    top:-80px;
    }
    

#mrib{
    width:cover;
    height:70px;
    background:greenyellow;
    box-shadow:0px 0px 10px white;
    text-align: center;
}

    
#drpdn{
    display:none;
    color:blue;
    background:white;
    font:20px Verdana;
    font-variant:small-caps;
    text-align: left;
    width:150%;
    position: relative;
    z-index:10;
    margin-top: 15px;
    }

        #drpdn p:hover{background:#f2f2f2;border:3px ridge greenyellow;color:#1a1a1a;}
        #drpdn p{margin:0px 0px 0px 0px;padding:10px 0px 10px 7px;
            background:black;color:white;text-shadow: 2px -5px 10px white;}

        #drpdn a{cursor:crosshair;text-decoration: none;}

#mbtn{
    font:35px Menu;
    color:black;
    width:20%;
    height:100%;
    font-variant:small-caps;
    text-align:center;
    padding-top: 15px;
    margin:none;
    float:left;
    }
       #mbtn:hover{background:#292929;margin:none;color:white;padding-top: 0px;}
       #mbtn:visited{}
       #mbtn:active{background:#292929;color:red;}
       #mbtn:hover #drpdn{display:block;}



#gmbr{
    width:95%;
    background:#267326;
    box-shadow:5px 5px 10px #339933;
    height:40px;
    border:5px solid #8cd98c;
    border-radius: 15px;
    font:35px "mistral";
    font-weight:bold;
    font-variant:small-caps;
    text-shadow: -5px -5px 2px black;
}

#utbnr{
    width:350px;
    margin-left:250px;
    background:#e4211b;
    border:7px solid #e4211b;
    border-radius: 30px;
    font:20px "Century Gothic";
    font-variant:small-caps;
}
        #utbnr:hover{background:#ec645f;border:7px solid #ec645f;border-radius: 30px;}
        #utbnr a{float:right;position:relative;right:45%;color:white;text-decoration:none;}
        #utbnr:hover a{display:block;font:20px "tahoma";font-weight:bold;}